body {
    background: #EEE;
    font-family: 'Fira Mono';
    letter-spacing: 0.025em;
    line-height: 1.5em;
    font-size: 0.80em;
}

* {
    box-sizing: border-box;
}

h1, h2 {
    text-transform: uppercase;
}

/* Layout */
.layout {    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

/* Components */
.link {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.link:hover {
    text-decoration: underline;
}

/* Navbar */
.nav {
    position: relative;
    width: 100vw;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-section {
    display: inline-block;
    padding: 0 30px;
    height: 100%;
    line-height: 4em;
    font-weight: bold;
}

.nav-section.index {
    float: left;
}

.nav-section.about {
    float: right;
}

/* Main */
.main {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

.main-container {
    max-width: 35em;
}

.main-container-centered {
    text-align: center;
}

.main-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-links li {
    display: inline-block;
    padding: 5px 15px;
}

/*#changingText:before{*/
    /*content: '';*/
    /*animation: changeText infinite linear 9s;*/
/*}*/

/*@keyframes changeText {*/
    /*0%{*/
        /*content: 'Back-end';*/
    /*}*/
    /*50%{*/
        /*content: 'Front-end';*/
    /*}*/
    /*100%{*/
        /*content: 'Full-stack';*/
    /*}*/
/*}*/

/*@keyframes test {*/

    /*from {width: 0}*/
    /*to {width: 100%}*/

/*}*/