body {
    background: #EEE;
    font-family: 'Fira Mono';
    letter-spacing: 0.025rem;
    line-height: 1.5rem;
}

* {
    box-sizing: border-box;
}

h1, h2 {
    text-transform: uppercase;
}

/* Layout */
.layout {    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

/* Components */
.link {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.link:hover {
    text-decoration: underline;
}

/* Navbar */
.nav {
    position: relative;
    width: 100%;
    height: 60px;
}

.nav-section {
    display: inline-block;
    padding: 0 30px;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
}

.nav-section.index {
    float: left;
}

.nav-section.about {
    float: right;
}

/* Main */
.main {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

.main-container {
    max-width: 720px;
}

.main-container-centered {
    text-align: center;
}

.main-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-links li {
    display: inline-block;
    padding: 5px 15px;
}