@use '../../css/index';

$boxSize: 120px;
$spinnerSize: 90px;

.lds-dual-ring {
    display: inline-block;
    width: $boxSize;
    height: $boxSize;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: $spinnerSize;
    height: $spinnerSize;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(0, 0, 0);
    border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

#toFill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  